@{
    ViewBag.Title = "My Conversations";
}




<div class="content-primary">
			
    <ul data-role="listview" data-theme="d" data-divider-theme="d" class="ui-listview">
			<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">Friday, October 8, 2010 <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">2</span></li>
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="/Messages/messages" class="ui-link-inherit"><p class="ui-li-aside ui-li-desc"><strong>6:24</strong>PM</p>				
					<h3 class="ui-li-heading">Stephen Weber</h3>
					<p class="ui-li-desc">Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
			</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>

			<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">Thursday, October 7, 2010 <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">1</span></li>
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-d"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="/Messages/messages" class="ui-link-inherit"><p class="ui-li-aside ui-li-desc"><strong>4:48</strong>PM</p>
				<h3 class="ui-li-heading">Avery Walker</h3>
				<p class="ui-li-desc"><strong>Re: Dinner Tonight</strong></p>
				<p class="ui-li-desc">Sure, let's plan on meeting at Highland Kitchen at 8:00 tonight. Can't wait! </p>
				
			</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>
			<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">Wednesday, October 6, 2010 <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">3</span></li>
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-right ui-li-has-arrow ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="/Messages/messages" class="ui-link-inherit"><p class="ui-li-aside ui-li-desc"><strong>12:47</strong>PM</p>
				<h3 class="ui-li-heading">Amazon.com</h3>
				<p class="ui-li-desc">As someone who has purchased children's books from our 4-for-3 Store, you may be interested in these featured books.</p>
				
			</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>


            <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">Tuesday, October 5, 2010 <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">3</span></li>
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-right ui-li-has-arrow ui-li"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="/Messages/messages" class="ui-link-inherit"><p class="ui-li-aside ui-li-desc"><strong>6:24</strong>AM</p>
				<h3 class="ui-li-heading">Angela Smith</h3>
				<p class="ui-li-desc">My name is Angela Smith, SEO Consultant. I've greatly enjoyed looking through your site and I was wondering if you'd be interested in providing a link.</p>
					
			</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>
		</ul>
		</div>
